div.wrapper{
    width: 100%;
    height: 500px;
}
div.wrapper>div.menu{
    width: 100%;
    height: 43px;
    background-color: rgba(22, 22, 23, .8);
}
div.wrapper>div.menu>nav{
    width: inherit;
    height: inherit;
}
div.wrapper>div.menu>nav:hover{
    background-color: #2b2b2b;
    transition: 300ms;
}
div.wrapper>div.menu>nav>ul{
    width: 65%;
    height: inherit;
    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
div.wrapper>div.menu>nav>ul>li{
    list-style: none;
    width: auto;
    height: auto;
    /* background-color: red; */
    line-height: 43px;
    /* position: relative; */
}
div.wrapper>div.menu>nav>ul>li:nth-of-type(14){
    display: none;
}
div.wrapper>div.menu>nav>ul>li>a{
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    text-transform: capitalize;
    font-size: 11px;
    display: block;
}
div.wrapper>div.menu>nav>ul>li>a>i{
    font-size: 16px;
}
div.wrapper>div.menu>nav>ul>li>div.blur{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 0;
    display: none;
    backdrop-filter: blur(5px);
    transition:300ms;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu{
    width: 100%;
    /* height: 400px; */
    height: auto;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    padding-top:30px ;
    padding-left: 260px;
    padding-bottom: 40px;
    gap: 10px;
}
div.wrapper>div.menu>nav>ul>li:hover>div.blur{
    display: block;
    /* height: calc(100vh - 43px); */
    height: auto;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul:nth-of-type(1){
    width: 21%;
    height: auto;
    /* background-color: blueviolet;     */
    line-height: 40px;
    font-size: 12px;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul:nth-of-type(2){
    width: 10%;
    height: auto;
    font-size: 12px;
    line-height: 25px;
    /* background-color: blueviolet; */
    padding-top: 5px;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul:nth-of-type(3){
    width: 15%;
    height: auto;
    font-size: 12px;
    /* background-color: blueviolet; */
    line-height: 25px;
    padding-top: 5px;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul>li{
    list-style: none;
    color: rgb(134, 134, 139);
    text-transform: capitalize;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul:nth-of-type(1)>li>a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul:nth-of-type(2)>li>a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul:nth-of-type(3)>li>a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
}
div.wrapper>div.menu>nav>ul>li>div.blur>div.submenu>ul>a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 10px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
input,label,div.wrapper>div.label>i{
    display: none;
}
