div.wrapper>footer{
    width: 100%;
    height: calc(100vh - 43px);
    background-color: #2b2b2b;
    padding: 20px 200px;
}
div.wrapper>footer>div.footer-1{
    width: 100%;
    height: auto;
    /* background-color: wheat; */
}
div.wrapper>footer>div.footer-1>p{
    color: #86868b;
    font-size: 11px;
}
div.wrapper>footer>div.footer-1>p>a{
    color: whitesmoke;
}
div.wrapper>footer>hr{
    border-top:1px solid #6e6e73 ;
}

/* nextttttttttttttttttttttttttt */

div.wrapper>footer>nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
}
div.wrapper>footer>nav>ul{
    width: auto;
    height: auto;
    list-style: none;
    line-height: 18px;
}
div.wrapper>footer>nav>ul>li{
    width: auto;
    height: auto;
}
div.wrapper>footer>nav>ul>li>a{
    color: #d2d2d7;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    transition: 300ms;
}
div.wrapper>footer>nav>ul>li>a:hover{
    text-decoration: underline;
}
div.wrapper>footer>nav>ul>div{
    margin-bottom: 10px;
    /* font-weight: bold; */
    color: white;
    font-size: 13px;
    margin-top: 20px;
    font-weight: 2rem;
}

/* nextttttttttttttttt */

div.wrapper>footer>h3{
    font-size: 12px;
    color: #86868b;
    font-weight: lighter;
}
div.wrapper>footer>h3>a{
    color: lightseagreen;
}

/* nexttttttttttttttttt */

div.wrapper>footer>div.footer-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: baseline;
}
div.wrapper>footer>div.footer-2>div:nth-of-type(1){
    color: #86868b;
    font-size: 11px;
}
div.wrapper>footer>div.footer-2>div:nth-of-type(2){
    color: #d2d2d7;
    font-size: 12px;
    /* margin-left: -50px; */
}
div.wrapper>footer>div.footer-2>div:nth-of-type(2)>a{
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    color: #d2d2d7;
    font-size: 11px;
}
div.wrapper>footer>div.footer-2>div:nth-of-type(3)>a{
    text-decoration: none;
    font-size: 11px;
    color: whitesmoke;
}
div.wrapper>footer>div.footer-2>div>a:hover{
    text-decoration: underline;
}